<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>CF681105-3724-47A8-BB95-FA590C580C0C</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-3x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad3x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-11-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
